body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../img/bg.jpg);
}
a {
  color: #00B7FF;
}
footer {
  position: fixed;
  font-size: 8px;
  bottom: 4px;
  right: 20px;
}
article {
  margin-top: 34px;
}
.navbar-fixed-top .navbar-inner {
  height: 22px;
}
.navbar nav {
  float: right;
  margin-right: 8px;
  margin-top: 6px;
  width: 200px;
  height: 16px;
}
.navbar nav:hover .btn {
  display: block;
}
.navbar nav .btn {
  float: right;
  display: none;
  margin-left: 8px;
}
.navbar .btn {
  margin-top: -2px;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .brand {
  font-size: 12px;
  margin-left: 2px;
  padding-top: 4px;
}
.navbar-inner {
  min-height: 14px;
  height: 28px;
}
.video-container {
  display: none;
  float: left;
}
#panel-left {
  position: absolute;
  left: 20px;
  top: 40px;
  width: 120px;
}
#panel-right {
  position: absolute;
  left: 20px;
  bottom: 0;
  width: 140px;
}
#time,
#errors,
.milestone {
  background-color: darkgreen;
  border-radius: 6px;
  box-shadow: 2px 2px 6px #000;
  color: #fff;
  clear: both;
  font-size: 30px;
  font-weight: 700;
  padding: 4px 12px;
  margin-bottom: 20px;
  width: 120px;
  text-align: center;
}
#time {
  background-color: #333;
}
#errors {
  font-size: 14px;
}
.milestone {
  background-color: #ccc;
  color: #666;
}
.m1 #m1,
.m2 #m2,
.m3 #m3 {
  background-color: darkgreen;
  color: #fff;
  -moz-animation-delay: 0.1s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: takePhoto;
  -moz-animation-iteration-count: 4;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: takePhoto;
  -webkit-animation-iteration-count: 4;
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  animation-name: takePhoto;
  animation-iteration-count: 4;
}
#started,
#completed {
  color: #666;
  font-size: 14px;
}
.started #started,
.completed #completed {
  background-color: orange;
  color: #fff;
  -moz-animation-delay: 0.1s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: takePhoto;
  -moz-animation-iteration-count: 4;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: takePhoto;
  -webkit-animation-iteration-count: 4;
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  animation-name: takePhoto;
  animation-iteration-count: 4;
}
#errors {
  background-color: #990000;
}
.pictures {
  margin-top: 12px;
  margin-left: 238px;
  margin-right: 12px;
}
.pictures .image-container {
  float: left;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 18px #000;
  display: inline-block;
  padding: 4px;
  margin-bottom: 18px;
  margin-right: 36px;
  /*-moz-transform-origin: 0 120px;
		-webkit-transform-origin: 0 120px;
		transform-origin: 0 120px;*/

}
.pictures .image-container img {
  border-radius: 4px;
  width: 350px;
}
.pictures .image-container:nth-child(3n + 3) {
  margin-right: 0;
}
.pictures .image-container:first-child {
  -moz-animation-delay: 0.1s;
  -moz-animation-duration: 0.2s;
  -moz-animation-name: takePhoto;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-name: takePhoto;
  animation-delay: 0.1s;
  animation-duration: 0.2s;
  animation-name: takePhoto;
}
.pictures.finished .image-container {
  -moz-animation-delay: 0.1s;
  -moz-animation-duration: 1s;
  -moz-animation-name: finished;
  -moz-animation-iteration-count: 4;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: finished;
  -webkit-animation-iteration-count: 4;
  animation-delay: 0.1s;
  animation-duration: 1s;
  animation-name: finished;
  animation-iteration-count: 4;
}
.overlay {
  display: none;
  border-radius: 8px;
  background-color: #ededed;
  -moz-box-shadow: 3px 3px 18px #000;
  -webkit-box-shadow: 3px 3px 18px #000;
  box-shadow: 3px 3px 18px #000;
  position: absolute;
  width: 60%;
  height: 60%;
  right: 20%;
  left: 20%;
  top: 20%;
}
.overlay h2 {
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.overlay p {
  text-align: center;
  font-size: 1.4em;
}
.overlay #qrcode img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 2em;
}
.overlay.show {
  display: block;
}
.hidden {
  display: block;
}
@-webkit-keyframes takePhoto {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-moz-keyframes takePhoto {
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes finished {
  50% {
    background-color: orange;
  }
  100% {
    background-color: white;
  }
}
@-moz-keyframes finished {
  50% {
    background-color: orange;
  }
  100% {
    background-color: white;
  }
}
/*
@-moz-keyframes finished {
	20% {
		-moz-transform: rotate(105deg);
		transform: rotate(105deg);
	}
	35% {
		-moz-transform: rotate(80deg);
		transform: rotate(80deg);
	}
	45% {
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	100% {
		-moz-transform: translate3d(0, 800px, 0);
		transform: translate3d(0, 800px, 0);
	}
	}*/