/*
 * Custom Twitter Bootstrap style extensions
 */
.custom-margin-top10 {
	margin-top: 10px;
}
.custom-margin-top20 {
	margin-top: 20px;
}
.custom-margin-right5 {
	margin-right: 5px;
}
.custom-margin-right20 {
	margin-right: 20px;
}
.custom-padding-right5 {
	padding-right: 5px;
}

.custom-cursor-pointer {
	cursor: pointer;
}

.custom-background-palegreen {
	background-color: #9cbba3 !important;
}

.custom-thumbnail {
	background-color: #d5aaaa;
	margin-left: 0px !important;
}

.custom-thumbnail:hover {
	background-color: #0088cc !important;
	transition: 1.0s background-color, 1.0s color;
	color: #FFF;
}

.custom-label {
	font-size: 17.5px;
	margin: 10px 0;
}

/*
 * Custom Twitter Bootstrap styles adjustments for mobile devices
 */
@media (max-width: 479px) {
	h1 {
		font-size: 23px;
	}
	h2 {
		font-size: 15px;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 18px;
	}
}
/*
 * Custom styles
 */
.custom-table {
	margin-bottom: 0px;
}
.carousel-indicators {
	right: 245px;
}

/*
 * Bugfixes for Twitter Bootstrap
 */
ul.thumbnails li.span3:nth-child(4n + 5) {
	margin-left: 0px;
}

@-webkit-keyframes blinker {
50% {
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
}

@-moz-keyframes blinker {
50% {
-moz-transform: scale(1.2);
transform: scale(1.2);
}
}

.animate {
	-moz-animation-delay: 0.1s;
	-moz-animation-duration: 0.5s;
	-moz-animation-name: blinker;
	-moz-animation-iteration-count: 4;
	-webkit-animation-delay: 0.1s;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: blinker;
	-webkit-animation-iteration-count: 4;
	animation-delay: 0.1s;
	animation-duration: 0.5s;
	animation-name: blinker;
	animation-iteration-count: 4;
}

.navbar-search .search-query {
	padding-left: 29px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ5JREFUeNpi+P//PwMQMANxERCfAeI/UBrEZwbJQ9WAFR0A4u1AbAnEbFB6O1ScGaawGoi3wHQiYyBYDZKHKbwHxLo4FOqC5GEKf4Ksw6EQ5IyfIDYTkPEUiNUZsAOQ+F9GRkYJEKcFiDficSOIcRjE4QTiY0C8DuRbqAJLKP8/FP9kQArHUiA+jySJjA8w4LAS5KZd0MAHhaccQIABALsMiBZy4YLtAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: 12px 8px;
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
	padding-left: 30px;
	background-position: 13px 9px;
}

.clearable {
	position: relative;
}
.data_field {
	padding-right: 17px; /* add space for the 'x' icon*/
}
span.icon_clear {
	position: relative;
	right: 25px;
	display: none;
	/* now go with the styling */
	cursor: pointer;
	font: bold 1em sans-serif;
	color: #38468F;
}
span.icon_clear:hover {
	color: #f52;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 200ms linear all;
    -moz-transition: 200ms linear all;
    -ms-transition: 200ms linear all;
    -o-transition: 200ms linear all;
    transition: 200ms linear all;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    bottom: 0;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    bottom: -50px;
}

.thumbnail img {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

@media (max-width: 767px) {
	body {
		padding: 0;
	}
}

@media (max-width: 767px) {
	.custom-margin-top10 {
		margin-top: 0;
	}
	.thumbnail {
		border-radius: 0;
	}
	.thumbnails .img-rounded {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.carousel-inner > .item > img {
		border-radius: 0;
	}
	
	.navbar-inner {
		border-radius: 0;
	}
}