/*
 * Custom Twitter Bootstrap style extensions
 */
.custom-margin-top10 {
	margin-top: 10px;
}
.custom-margin-top20 {
	margin-top: 20px;
}
.custom-margin-right5 {
	margin-right: 5px;
}
.custom-padding-right5 {
	padding-right: 5px;
}

.custom-cursor-pointer {
	cursor: pointer;
}

.custom-background-palegreen {
	background-color: #9cbba3 !important;
}

.custom-thumbnail {
	background-color: #d5aaaa;
	margin-left: 0px !important;
}

.custom-thumbnail:hover {
	background-color: #0088cc !important;
	transition: 1.0s background-color, 1.0s color;
	color: #FFF;
}

.custom-label {
	font-size: 17.5px;
	margin: 10px 0;
}

/*
 * Custom Twitter Bootstrap styles adjustments for mobile devices
 */
@media (max-width: 479px) {
	h1 {
		font-size: 23px;
	}
	h2 {
		font-size: 15px;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 18px;
	}
}

/*
 * Bugfixes for Twitter Bootstrap
 */
ul.thumbnails li.span3:nth-child(4n + 5) {
	margin-left: 0px;
}

/*
 * Custom styles
 */

body {
	font-size: 13px;
}

.custom-table {
	margin-bottom: 0px;
}
.carousel-indicators {
	right: 245px;
}

.animate {
	-webkit-animation-duration: 1s;
	-webkit-animation-name: slidein;
	animation-duration: 1s;
	animation-name: slidein;
}

@-webkit-keyframes
slidein {
from {
	margin-top: 100%;
	width: 100%;
}

to {
	margin-top: 0%;
	width: 100%;
}
}

@keyframes
slidein {from {
	margin-top: 100%;
	width: 100%;
}

to {
	margin-top: 0%;
	width: 100%;
}
}