h1 Load index.html
a(href="/gameapp", target="_blank") Game App
br
a(href="/pushbuttonapp", target="_blank") Pushbutton App
br
a(href="/resultapp", target="_blank") Result App
br
a(href="/admin", target="_blank") Are you an admin, dude?