doctype 5
html(ng-app="myApp")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				a.brand(href="#") FireWire
				ul.nav
					li.active
						a(href="#") Play
					li
						a(href="#") Admin
		article.container-fluid
			block content

		script(src="/javascripts/angular.js")
		script(src="/app/app.js")
		script(src="/app/services.js")
		script(src="/app/controllers.js")
		script(src="/app/filters.js")
		script(src="/app/directives.js")
