html,
body,
div,
button,
input,
image {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
.page {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.page {
  background-image: url(../img/bg.jpg);
  padding: 24px;
}
.page input[type=text] {
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  height: 72px;
  width: 100%;
  margin-top: 4em;
  margin-bottom: 1em;
}
.page button {
  font-size: 42px;
  line-height: 143px;
  height: 412px;
  width: 412px;
  display: block;
  border-radius: 50% 50% 50% 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 144px;
}
.page .canvas {
  position: absolute;
  margin-top: 50px;
  width: 200%;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
}
.page .canvas img {
  display: block;
  width: auto;
  border: 5px solid #fff;
  border-radius: 8px;
}
.page .canvas .img-container {
  width: 468px;
  position: absolute;
}
.page .canvas .img-container.left {
  left: 8%;
}
.page .canvas .img-container.right {
  right: 8%;
}
.page .canvas .img-banner {
  color: white;
  font-weight: 700;
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  height: 2em;
  font-size: 32px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  padding: 24px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.page .canvas .img-banner .time {
  float: right;
}
.page .canvas.right {
  -moz-transform: translateX(-53%);
  -webkit-transform: translateX(-53%);
  transform: translateX(-53%);
}
.invalid input[type=text] {
  background-color: #e0cc86;
}
